:root{
    --bg-color:#111214;
    --bg-secondary:#283748;
    --white:#fff;
    --active-btn-color:#004494;
    --button-shadow:0 4px 8px rgba(0, 91, 187, 0.2);
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top-icon{
    border-radius: 50px;
    width: 50px;
    height: 50%;
    object-fit: cover;
}
  /* General styles for the login button */
  .btn-login {
    background-color: var(--bg-color);
    color: var(--white);
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.btn-login:hover {
    background-color:var(--bg-secondary);
    box-shadow: var(--button-shadow);
    color: var(--white);
}

/* Active effect */
.btn-login:active {
    background-color:var(--bg-secondary) ;
    box-shadow: var(--button-shadow);
}
.navbar{
    border-bottom: 4px solid var(--bg-color);
    z-index: 1;
   
}

/* main-herostyle */
#main-hero{
    background-image: url('../assets/images/two-happy-muslim-students-have-coffee-break.jpg');
    height: 100vh;
    width: 100%;
    text-align: center;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    
    
}
#main-hero .main-hero-text{
    position: absolute;
    top: 40%;
    width: 70%;
    padding: 15px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: #111214;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-items: center;
}

#main-hero .button-hero-text{
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    place-items: center;
    border-radius: 40px;
    background-color: #fff;
    margin: 0 auto;
    transform: scale(0.8);
    transition: all 1s ease;
}
#main-hero .button-hero-text:hover{
    transform: scale(0.9);
}
#main-hero .button-hero-text img{
    width: 20px;
    margin-left: 15px;
}


.certificate-images img{
    position: absolute;
    width: 100px;
    border-radius: 50%;
    top: 90%;
    left: -200px;
    transition: all 5s ease-in;
    animation:fade-Toleft 15s ease-in infinite ;
    overflow-x: hidden;
}
@keyframes fade-Toleft {
    0%{
        left: -200px;
        
    }
    10%{
        left: 20%;
    }
    30%{
        left:30% ;
    }
    50%{
        left: 40%;
    }
    70%{
        left: 60%;
    }
    80%{
        left: 70%;
    }
    80%{
        left:80%;
    }
    90%{
        left: 82%;
    }
   
}

.certificate-images img:nth-of-type(1){
    animation-delay: 2s;
}

.certificate-images img:nth-of-type(2){
    animation-delay: 8s;
}

.certificate-images img:nth-of-type(3){
    animation-delay: 14s;
}

.certificate-images img:nth-of-type(4){
    animation-delay: 18s;
}
#welcomeSection{
   margin-top: auto;
   min-height: 80%;
}

/* dashboard style */
#main-dashboard-hero{
    height: 100vh;
}


/* sub-footer style */


.sub-footer{
    background-color: var(--bg-color);
    color: var(--white);
    text-align: center;
    padding: 1em;
    margin-top: 60px;
}

.sub-footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 15px;
}
.sub-footer a{
    color: var(--white);

}
/* footer */
footer{
    background-color: var(--bg-secondary);
    color: var(--white);
    text-align: center;
    padding: 10px;
}

@media (max-width:768px) {
    .navbar-brand{
        font-size: 14px;
    }
    .main-hero-text{
        width: 100%;
      margin-bottom: 20px;
    }
    .main-hero-text h1,p{
        text-align: center;
        font-size: 12px;
        
    }
    .sub-footer .container{
        flex-direction: column;
        margin-bottom: 0px;
    }

    .btn-login {
        margin-top: 20px;
    }
}

@media (max-width:425px){
    .main-hero-text{
        width: 100%;
        margin-bottom: 20px;
    }

    .certificate-images{
        display: none;
    }
    
}